---
layout: default
title: Notebook
description: Duet includes a simple blog with pagination.
featured_image: /images/social.jpg
---

<section class="intro">

	<div class="wrap">

		<h1>Take Notes.</h1>
		<p>now.</p>

	</div>

</section>

<section class="notebook">

	<div class="content-wrap notebook-wrap">

		{% for post in paginator.posts %}

		<article class="notebook-post">

			<a class="notebook-post__link" href="{{ notebook.url }}">

				<div class="notebook-post__image">
					<img src="{{ notebook.featured_image  }}" alt="{{ notebook.title }}">
				</div>

				<div class="notebook-post__content">
					<div class="notebook-post__info">
						<h2 class="notebook-post__title">{{ notebook.title }}</h2>
						<p class="notebook-post__subtitle">{{ notebook.date | date_to_long_string }}</p>
					</div>
				</div>

			</a>

		</article>

		{% endfor %}

	</div>

</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">

	<div class="wrap">

		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="button button--light pagination__prev"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
		{% endif %}
		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="button button--light pagination__next"><span>Older Posts</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
		{% endif %}

	</div>

</section>

{% endif %}